/* The page */
body{
    background-color: #85AEDE;
}
/* When mouse hover button*/
button:hover{
    cursor:pointer;
    background-color: grey;
}

/* Sidebar */
#sidenav {
    height: 100%; 
    width: 165px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:grey;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }


#inpNewList {
    border-radius: 4px;
    border-color:#85AEDE;
    width: 100px;
    height: 38px;
    margin-left: 5px;
}

#newListBtn {
    background-color:#85AEDE;
    color:white;
    border-radius: 4px;
    border-color:#85AEDE;
    height: 42px;
    width: 42px;
}

#listBtn {
    background-color:#85AEDE;
    color:white;
    border-radius: 4px;
    border-color:#85AEDE;
    height: 42px;
    width: 155px;
    margin-top: 5px;
    margin-left: 5px;
}

#listContainer {
    margin-left: 160px;
    display: flex;
    flex-wrap: wrap;
    width: 100% - 160px;
}

#listContainer > div {
    background-color: white;    
    margin: 10px;
    width: 300px;
    border-radius: 4px;
    border-color:#85AEDE;
}

#listContainer > div > h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#listContainer > div > #inpToDo {
    align-items: center;
    margin-left: 40px;
    margin-bottom: 10px;
}

#listContainer > div > div > #chbox {
    display: inline-block;
    margin-left: 40px;
}

#listContainer > div > div > #txt {
    display: inline-block;
}

#listContainer > div > div > #menuBtn {
    display: inline-block;
    cursor: pointer;
    float: right;
    left: 100%;
    margin-right: 50px;
    margin-top: 12px;
    background-color: rgb(230, 230, 230);    
    border-radius: 4px;
    border-color:#85AEDE;
}

#menuBtn:hover > #dropDown,
#menuBtn:focus > #dropDown,
#menuBtn:focus-within > #dropDown {
    visibility: visible;
}

#dropDown {
    visibility: hidden;
    left: 100%;
    cursor: pointer;
    width: 40px;
    height: 8px;
    position: relative;
    top: -20%;
}

#menuItem {
    background-color: rgb(230, 230, 230);
}

/* When mouse hover button*/
#menuItem:hover {
    background-color: grey;
}