body{
    background-color: #85AEDE;
}

#header {
    padding-top:10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mainbox{
    background-color:white;
    height:500px;
    width: 800px;
    margin-left: 230px;


}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:grey;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

#newList {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
    width: 100px;
}

button{
    background-color:#85AEDE;
    color:white;
    border-radius: 4px;
    border-color:#85AEDE;
    height: 42px;
    width: 42px;
    display: inline-block;
}

button:hover{
    cursor:pointer;
    background-color: grey;
}

#inpToDo{
    width: 500px;
    height: 40px;
    border-radius: 4px;
    border-color: black;
    text-align: center;
    display: inline-block;
    margin-left: 125px;
}

ul{
    list-style-type: none;
    margin-left: 85px;
    width: 555px;
    display: inline-block;
}

li:hover{
    background-color: grey;

}

#chbox{
    margin-right: 50px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#txt{
    display: inline-block;
    text-align: center;
}

#delBtn{
    margin-left: 50px;
    height: 20px;
    text-size-adjust: 5px;
    float: right;
    margin-top: 15px;
    margin-right: 5px;
}